:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    // color-scheme: dark;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  // width: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  padding-right: auto;
}

input{
  @apply outline-none border-none ring-0 focus:outline-none focus:border-none focus:ring-0;
}


.xi3auck {
  -webkit-filter: var(--filter-accent);
}